@font-face {
    font-family: head;
    src: url(Jost/static/Jost-Bold.ttf);
}
@font-face {
    font-family: med;
    src: url(Jost/static/Jost-Medium.ttf);
}
@font-face {
    font-family: light;
    src: url(Jost/static/Jost-Light.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-bar{
    width: 1480px;
    height: 80px;
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.nav-bar img{
    margin-left: -850px !important;
}
.nav-bar i{
    font-size: 32px;
    margin-top: 5px;
    margin-right: -800px;
}
/* --------------------------------------------------------section one-----------------------------------------------------------------*/
.section-one{
    width: 100%;
    height: 600px;
    background: rgba(0, 0, 0, 0.7)url(images/taxi2.jpeg);
    background-position: bottom;
    background-size: cover;
    background-blend-mode: darken;
    text-align: center;
    padding-top: 50px;
}
.section-one h1{
    font-family: head;
    font-size: 90px;
    color: white;
}
.section-one h6{
    font-family: head;
    font-size: 45px;
    color: #F7C119;
}
.car{
    width: 800px;
    height: 400px;
    background-image: url(images/taxi.png);
    background-position: bottom;
    background-size: cover;
    position: relative;
    top: 100px;
    left: 350px;
}
/* --------------------------------------------------------section two-----------------------------------------------------------------*/
.section-two{
    width: 100%;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #F7C119;
    font-family: med;
    font-size: 20px;
    margin-bottom: -20px;
    padding-left: 150px;
    padding-top: 100px;
    padding-right: 150px;
}
.section-two .box1{
    padding: 50px;
}
.section-two .box1 h6, h2, p, input{
    margin-bottom: 30px;
}
.section-two .box1 h6{
    font-size: 20px;
    letter-spacing: 10px;
}
.section-two .box1 input{
    border-style: none;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: black;
    font-size: 20px;
    font-family: head;
    color: white;
}
.section-two .box1 input:hover{
    color: #F7C119;
}
.section-two .box2{
    background-color: black;
    margin-top: 40px;
    border-radius: 5px;
}
.section-two .box2 form{
    padding: 40px;
}
.section-two .box2 input, textarea{
    width: 370px;
    font-family: med;
    padding: 10px;
    border-radius: 5px;
}
.section-two .box2 button{
    width: 120px;
    font-family: head;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}
.section-two .box2 button:hover{
    background-color: #F7C119;
    color: black;
}

.taxi-type{
    width: 100%;
    height: 560px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 30px;
    
}
.taxi-one{
    margin-top: 20px;
    height: 480px;
    padding: 30px;
}
.taxi-two{
    margin-top: 20px;
    height: 480px;
    padding: 30px;
}
.taxi-three{
    margin-top: 20px;
    height: 480px;
    padding: 30px;
}
#taxi-type-head{
    font-size: 40px;
    font-family: head;
    padding-bottom: -10px;
    text-align: center;
}
#taxi-type-subhead{
    margin-left: 25px;
    margin-bottom: 20px;
    font-family: med;
}
ul{
    margin-left: 43px;
}
ul li{
    line-height: 30px;
}

/* --------------------------------------------------------section three-----------------------------------------------------------------*/
.section-three{
    width: 100%;
    height: 160px;
    background-color: #4d4d4d;
    padding: 40px;
    padding-left: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.section-three i{
    color: #F7C119;
    font-size: 80px;
}
.section-three h4{
    font-family: med;
    color: white;
    font-size: 25px;
    padding-top: 25px;
    margin-right: 650px;
}
.section-three .app{
    position: relative;
    left: 740px;
    top: -65px;
    width: 350px;
}
.section-three .app img{
    padding-right: 20px;
}
/* --------------------------------------------------------section four-----------------------------------------------------------------*/
.section-four{
    width: 100%;
    height: 500px;
    background: rgba(0, 0, 0, 0.649)url(images/taxi3.jpeg);
    background-position: bottom;
    background-size: cover;
    font-family: head;
    text-align: center;
    padding-top: 180px;
    color: #ffffff  ;
}
.section-four h1{
    font-size: 90px;
}
.section-four h3{
    font-size: 30px;
    letter-spacing: 5px;
    color: #F7C119;
}
/* --------------------------------------------------------section five-----------------------------------------------------------------*/
.section-five{
    width: 100%;
    height: 500px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #ffffff;
}
.section-five h1{
    width: 1400px;
    height: 50px;
    margin: auto;
    font-size: 35px;
    text-align: center;
    font-family: head;
    padding-top: 40px;
}
/* --------------------------------------------------------section six-----------------------------------------------------------------*/
.section-six{
    width: 1480px;
    height: 500px;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    padding-top: 10px;
}
.section-six h1{
    padding-top: 20px;
    width: 1400px;
    height: 60px;
    text-align: center;
    font-family: head;
    font-size: 32px;
    margin: auto;
}
.booxs p{
    font-family: med;
    text-align: center;
    font-size: 22px;
    padding-top: 10px;
}
.section-six .booxs{
    width: 300px;
    height: 300px;
    padding: 40px;
    margin-left: 90px;
    margin-right: 90px;

}
.booxs img{
    width: 100px;
    height: 100px;
    margin-left: 50px;
}
.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    font-family: head;
    padding-top: 20px;
}
.box-1{
    font-size: 22px;
    width: 600px;
    height: 300px;
    padding: 50px;
}
.box-2{
    font-size: 25px;
    width: 600px;
    height: 300px;
    padding: 50px;
}
.footer h3{
    color: #F7C119;
}
.footer p{
    font-family: light;
}
.icon{
    text-align: center;
    margin: auto;
    margin-bottom: 40px;
    padding-right: 20px;
    color: #F7C119;
    font-size: 30px;
    width: 500px;
    height: 40px;
}
.icon i{
    padding-right: 20px;
}